.top-right-corner-btn {
  position: absolute;
  right: 10px;
  top: 5px;

  a {
    color: white;
  }
}

.top-padded {
  padding-top: 50px;
}

.my_card {
  .appearing-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
  }
}


.my_card:hover {

  .appearing-btn {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
}


