// CENTRAL CONTENT CSS

.central-content {
  margin-left: 60px;
  margin-right: 350px;
}

.lex-banner {
  position: relative;
  background-size: cover !important;
  height: 200px;
}

.lex-banner:hover {
  .expedition-title {
    background-color: rgba(215,215,215,0.5);
    transition: background-color 1s ease;
  }
}

.expedition-title {
  position: absolute;
  left: 17px;
  top: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 6px;
  color: white;
  font-size: 28px;
  border-radius: 5px;
  background-color: rgba(215,215,215,0.3);
}

.preview {
  position: absolute;
  top: 12px;
  right: 22px;
  color: white;
  border-radius: 5px;
  border: solid 1px white;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  width: 120px;
}

.preview:hover {
  background-color: rgba(215,215,215,0.2);
  transition: background-color 0.5s ease;
}

.expedition-participant-number {
  position: absolute;
  left: 22px;
  top: 50px;
  color: white;
  font-size: 12px;
  font-style: italic;
}

.lex-days {
  border-right: 1px solid #D3D3D3;
  min-height: 1000px;
  margin-left: -15px;
}


.btn-library {
  position: absolute;
  top: 5px;
  right: 140px;
  border-radius: 5px;
  border: solid 1px #1AAFD0;
  color: #1AAFD0;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  width: 120px;
  margin-left: 10px;
}

.btn-library:hover {
  background-color: #eafbff;
  transition: background-color 0.3s ease;
}


.library {
  height: 290px;
}

.modal-activity-card {
  position: relative;
  padding: 5px 5px;
  height: 190px;
  margin: 10px 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2), 0 0px 3px 0 rgba(0, 0, 0, 0.2);
}

.modal-activity-icon {
  position: absolute;
  top: 5px;
  left: 5px;
  background-size: cover !important;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.modal-activity-title {
  padding-left: 5px;
  padding-top: 0px;
  color: #D7263D;
  font-size: 20px;
}

.modal-activity-information {
  position: absolute;
  top: 50px;
  left: 120px;
  padding-right: 10px;
}

.modal-activity-address {
  font-size: 12px;
  text-decoration: underline;
  color: #808080;
}

.modal-activity-description {
  font-size: 14px;
  text-align: justify;
}


.modal-activity-picture {
  position: absolute;
  border: 1px solid #808080;
  top: 50px;
  left: 10px;
  padding: 3px 3px;
  background-size: contain !important;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;
}

.btn-add {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 5px;
  border: solid 1px #1AAFD0;
  color: #1AAFD0;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  width: 80px;
  margin-left: 10px;
}

.btn-add:hover {
  background-color: #eafbff;
  transition: background-color 0.3s ease;
}

// LEX DAYS SUB SECTION

.day-box {
  position: relative;
  border-bottom: 1px solid #D3D3D3;
  padding-left: 10px;
  cursor: pointer;
}

.day-delete-logo {
  position: absolute;
  top: 4px;
  left: 160px;
  background-size: cover !important;
  width: 15px;
  height: 15px;
  color: blue;
  opacity: 0;
}

.day-edit-logo {
  position: absolute;
  top: 4px;
  left: 140px;
  background-size: cover !important;
  width: 15px;
  height: 15px;
  color: blue;
  opacity: 0;
}

.day-box:hover {
  background-color: #eaf7ff;
  transition: background-color 0.3s ease;
  .day-box-chevron {
  color: #1AAFD0;
  transition: color 0.3s ease;}
  .day-edit-logo {
  opacity: 1;
  transition: opacity 0.3s ease;
  }
  .day-delete-logo {
  opacity: 1;
  transition: opacity 0.3s ease;}
}

.day-box-chevron {
  position: absolute;
  right: 5px;
  top: 0px;
  font-weight: bold;
  font-size: 40px;
  color: #D3D3D3;
  line-height: 50px;
}

.day-box-text p {
  margin-bottom: 0px;
  padding-top: 5px;
}

.new-day {
  margin-left: 10px;
}

.day-number {
  font-size: 14px;
  line-height: 14px;
}

.day-title {
  font-size: 20px;
  font-weight: bolder;
  padding-bottom: 5px;
  margin-top: 0px;
  line-height: 20px;
}




// LEX ACTIVITIES SUB-SECTION

.lex-activities {
}

.activity-box-section {
}

.activity-box {
  position: relative;
  padding-left: 20px;
  padding-right: 5px;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.activity-box:hover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2), 0 0px 3px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
  .edit-logo {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  .delete-logo {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  .rb-edit-logo {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  .rb-delete-logo {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  .add-resource {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  .resource-box {
    box-shadow: 0 0 1em #D3D3D3;
    transition: box-shadow 1s ease;
  }
}

.edit-logo:hover {
  background-color: #eafbff;
  transition: background-color 0.3s ease;
}

.delete-logo:hover {
  background-color: #eafbff;
  transition: background-color 0.3s ease;
}

.edit-logo {
  position: absolute;
  top: 5px;
  right: 35px;
  background-size: cover !important;
  width: 25px;
  height: 25px;
  color: blue;
  opacity: 0;
}

.delete-logo {
  position: absolute;
  top: 5px;
  right: 5px;
  background-size: cover !important;
  width: 25px;
  height: 25px;
  color: blue;
  opacity: 0;
}

.rb-edit-logo {
  position: absolute;
  top: 30px;
  right: -28px;
  background-size: cover !important;
  width: 20px;
  height: 20px;
  color: blue;
  opacity: 0;
}

.rb-delete-logo {
  position: absolute;
  top: 3px;
  right: -28px;
  background-size: cover !important;
  width: 20px;
  height: 20px;
  color: blue;
  opacity: 0;
}


.add-activity {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 5px;
  border: solid 1px #1AAFD0;
  color: #1AAFD0;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  width: 120px;
  margin-left: 10px;
}

.add-activity:hover {
  background-color: #eafbff;
  transition: background-color 0.3s ease;
}

.activity-header {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
  padding-left: 20px;
}

.activity-day-header {
  position: absolute;
  top: 0px;
  left: -20px;
  width: 35px;
  border-right: solid 1px #D3D3D3;
}

.activity-day-header p {
  text-align: center;
  font-weight: lighter;
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.add-resource {
  position: absolute;
  bottom: 0px;
  right: 5px;
  border-radius: 5px;
  border: solid 1px #1AAFD0;
  color: #1AAFD0;
  font-size: 16px;
  text-align: center;
  width: 130px;
  margin-left: 10px;
  opacity: 0;
}

.add-resource:hover {
  background-color: #eafbff;
  transition: background-color 0.3s ease;
}

.activity-icon {
  position: absolute;
  top: 4px;
  left: -17px;
  background-size: cover !important;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.activity-icon-flight {
  border: solid 1px #FFB900;
}

.activity-icon-restaurant {
  border: solid 1px #1AAFD0;
}

.activity-icon-hotel {
  border: solid 1px #6A67CE;
}

.activity-icon-transportation {
  border: solid 1px #3BE8B0;
}

.activity-icon-meeting {
  border: solid 1px #D7263D;
}

.label-activity {
  font-size: 14px;
  padding-top: 4px;
  margin-bottom: 2px;
}

.label-flight {
  color: #FFB900;
}

.label-hotel {
  color: #6A67CE;
}

.label-transportation {
  color: #3BE8B0;
}

.label-meeting {
  color: #D7263D;
}

.label-restaurant {
  color: #1AAFD0;
}

.activity-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 0px;
}

.activity-description {
  font-size: 14px;
  text-align: justify;
  padding-right: 5px;
  margin-bottom: 2px;
}

.activity-address {
  font-size: 12px;
  text-decoration: underline;
  color: #808080;
}

.resource-box {
  position: relative;
  padding-left: 80px;
  height: 70px;
  margin-bottom: 0px;
  border: solid 1px #DCDCDC;
  border-radius: 3px;
}

.resource-photo {
  position: absolute;
  background-size: cover !important;
  left: 0px;
  width: 70px;
  height: 70px;
}

.resource-map {
  position: absolute;
  left: 0px;
  width: 70px;
  height: 70px;
}

.resource-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
}

.resource-url {
  font-size: 12px;
  text-decoration: underline;
  color: #808080;
}

// RIGHT SIDEBAR SCSS

.right-sidebar {
  position: fixed;
  border-left: 1px solid #D3D3D3;
  width: 350px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.right-sidebar-content {
  height: 600px;
  overflow-y: scroll;
}

.right-sidebar-tabs {
  border-bottom: 1px solid #D3D3D3;
  text-align: center;
  font-weight: lighter;
  margin-top: 5px;
  height: 35px;
}

.right-sidebar-tab p {
  margin-bottom: 5px;
}

.tab-participants {
  color: #1AAFD0;
  border-bottom: 2px solid #1AAFD0;
  height: 35px;
}

.tab-feedbacks {
  color: #C0C0C0;
  height: 35px;
}

.participant-box {
  position: relative;
  height: 65px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #D3D3D3;
}

.participant-box:hover {
  box-shadow: 0 0 2em #D3D3D3;
  transition: box-shadow 0.3s ease;
  .edit-logo {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  .delete-logo {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  .participant-details {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
}

.user-photo {
  position: absolute;
  background-size: cover !important;
  left: 5px;
  width: 55px;
  height: 55px;
}

.content-participant {
  position: absolute;
  left: 90px;
}

.participant-name {
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: bold;
}

.participant-job {
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 14px;
}

.participant-name {
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: bold;
}

.participant-details {
  margin-bottom: 0px;
  color: #1AAFD0;
  font-size: 14px;
  opacity: 0
}

.participant-details:hover {
  text-decoration: underline;
}

.participant-invite {
  position: absolute;
  right: 5px;
  bottom: 5px;
  height: 25px;
// same as add participant
  border-radius: 3px;
  border: solid 1px #1AAFD0;
  color: #1AAFD0;
  font-size: 16px;
  width: 150px;
  margin: 0px;
  text-align: center;
}

.participant-invite:hover {
  background-color: #eafbff;
  transition: background-color 0.3s ease;
}

.new-participant-btn {
  flex: 0, 0, 20%;
  border-radius: 5px;
  border: solid 1px #1AAFD0;
  color: #1AAFD0;
  font-size: 16px;
  text-align: center;
  background-color: white;
  width: 130px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.new-participant-btn:hover {
  background-color: #eafbff;
  transition: background-color 0.3s ease;
}


.add-participant-flexbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.add-participant {
  border-radius: 5px;
  border: solid 1px #1AAFD0;
  color: #1AAFD0;
  font-size: 16px;
  text-align: center;
  width: 150px;
  margin-left: 10px;
}

.add-participant:hover {
  background-color: #eafbff;
  transition: background-color 0.3s ease;
}




// BUTTON

.custom-btn {
  border-radius: 5px;
  border: solid 1px #1AAFD0;
  color: #1AAFD0;
  font-size: 16px;
  text-align: center;
  width: 110px;
  margin-left: 10px;
  margin-top: 10px;
}

.custom-btn:hover {
  background-color: #eafbff;
  transition: background-color 0.3s ease;
}


//

.modal-title {
  font-size: 36px;
}


// PARTICIPANT VIEW //

.p-activity-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  background-size: cover !important;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.p-label-activity {
  position: absolute;
  top: 13px;
  left: 50px;
  font-size: 14px;
  margin-bottom: 2px;
  width: 500px;
}

.date-name {
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 0px;
  color: #808080;
}

.card-title {
  position: relative;
}


// DASHBOARD BANNER

.btn-dashboard {
  position: absolute;
  top: 10px;
  right: 20px;
  border-radius: 5px;
  background-color: #1AAFD0;
  color: white;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  width: 170px;
  padding: 0px;
}

.btn-dashboard:hover {
  border: solid 1px #1AAFD0;
  color: #1AAFD0;
  background-color: white;
  transition: background-color 0.5s ease;
  transition: color 0.3s ease;
  transition: border 0.3s ease;
}

.nav-dashboard {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.1);
  height: 50px;
  width: 100%;
  margin-bottom: 30px;
}

.nav-dashboard-content {
  position: relative;
  margin-right: 60px;
}

.dashbord-title {
  font-size: 32px;
  text-align: center;
  color: #1AAFD0;
}


