.participant-body {
  background-color: #F4F7FB;
}

.expedution-sections {
  border-radius: 40px;
}

.day {
  border-radius: 5px;
}

// #map {
//   margin-right: -11px;
//   margin-left: -11px;
// }

/* FEEDBACKS FEATURES */
#feedback {
  position: relative;
}


.delete-button {
  width: 20px;
  position: absolute;
  top: 1px;
  right: 5px;
}

/* PARTICIPANT VIEW OF AN EXPEDITION */

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#flex-column1 {
  // width: 100px;
  position: fixed;
  margin-left: -260px;
  margin-top: -8px;
}
#flex-column2 {
  width: 800px;
  margin: 0px 20px;
  margin-left: -160px;
  
}
#flex-column3 {
  width: 250px;
  position: fixed;
  margin-left: 0px;
  margin-top: -8px;
}

.expedition-description-participant {
  padding: 0 20px;
}


/* TABS IN ORGANIZER VIEW OF AN EXPEDITION */

.tabs .tab a {
  color: $custom-blue;
  font-style: bold;
  &:hover {
    color: $custom-blue;
  }
}

.tabs .indicator {
  background-color: $custom-blue;
}
