.participant-card {
  position: relative;
  height: 65px;
  margin-top: 5px;
  padding: 7px;
  border-bottom: 1px solid #D3D3D3;
}

.participant-card:hover {
  .link-top-r {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
}

.participant-photo {
  position: absolute;
  left: 10px;
  min-width: 60px;
  height: 61px;
}

.participation-content {
  position: absolute;
  top: 0px;
  left: 70px;
  min-width: 90px;

  p {
    padding: 0px;
  }
}

.participant-link {
  color: #1AAFD0;
}

.link-bottom-r {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.link-top-r {
  position: absolute;
  right: 5px;
  top: 0px;
  opacity: 0;
}

.small-logo {
  width: 20px;
}

.pp-no-margin {
  margin-top: 0px;
}
