.participant-body {
  background-color: #F4F7FB;
}

.expedution-sections {
  border-radius: 40px;
}

.day {
  border-radius: 5px;
}

// #map {
//   margin-right: -11px;
//   margin-left: -11px;
// }

/* FEEDBACKS FEATURES */
#feedback {
  position: relative;
}


.delete-button {
  width: 20px;
  position: absolute;
  top: 1px;
  right: 5px;
}
