.flex-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60vh;
}

.headbox {
  padding: 20px;
}

.headbox h4 {
  font-style: italic;
  font-size: 30px;
  color: white;
}

.headbox li {
  font-size: 20px;
  color: white;
}

.box-line-bottom {
  margin: 20px 0px;
  padding-bottom: 20px;
  border-bottom: 2px solid lightgrey;
}

.box-line-top {
  margin: 20px 0px;
  padding-bottom: 20px;
  border-top: 2px solid lightgrey;
}

.bio {
  margin: 20px 0px;
}

/* REVIEWS STYLE  */

.font-style1 {
  font-style: italic;
  font-size: 20px;
}

.signature {
  font-size: 10px;
  font-style: italic;
}

/* PARTICIPANT VIEW OF AN EXPEDITION */

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#flex-column1 {
  // width: 100px;
}
#flex-column2 {
  width: 560px;
  margin: 0px 20px;
}
#flex-column3 {
  width: 250px;
}

.expedition-description {
  padding: 0 20px;
}

/* TABS IN ORGANIZER VIEW OF AN EXPEDITION */

.tabs .tab a {
  color: $custom-blue;
  font-style: bold;
  &:hover {
    color: $custom-blue;
  }
}

.tabs .indicator {
  background-color: $custom-blue;
}
