.page-container {
  margin-left: 60px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
}



.small-banner {
  min-height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#spacex {
  background-image: url("https://hellolifeadventures.files.wordpress.com/2014/03/spacex_logo.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

#nasa {
  background-image: url("http://cdn2-b.examiner.com/sites/default/files/styles/image_content_width/hash/cb/f0/cbf0a3f2408b4cddb49d8a26240004ab.png?itok=zRQ6tcAK");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px;
}



.title {
  margin: 20px;
}

.card {
  position: relative;
}

.card-title-ressource {
  position: absolute;
  top: 0px;
  left: 19px;
}

