  <video autoplay  poster="http://i.imgur.com/Fhv7N23.png" id="bgvid" loop>
    WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button
  </video>


  <!-- Cover photo
    ================================================== -->
<!--     <div class="banner-small img-responsive" style="background-image: linear-gradient(to right, rgba(224, 93, 73,0.6) 0%, rgba(153, 107, 130,0.6) 40%, rgba(87, 135, 198,0.6) 80%, rgba(62, 151, 232,0.6) 100%), url('http://static.livedemo00.template-help.com/wt_58888_v2/images/intros/intro-04-1920x955.jpg');">
      <div class="banner-content">
        <h2>Expedition Title</h2>
      </div>
    </div> -->

    <!-- Expeditions details
    ================================================== -->

    <div class="container padded">
      <div class="row">

    <!-- Days
    ================================================== -->

        <div class="day">
          <div class="col s12 m1 l1 pull-l1 white z-depth-1" style="border-radius: 5px;">
            <div class="collection" style="margin-right: -11px; margin-left: -12px; margin-top: 0px; margin-bottom: 0px;">
              <a href="#day1" class="collection-item">Day 1</a>
              <a href="#day2" class="collection-item">Day 2</a>
              <a href="#day3" class="collection-item">Day 3</a>
            </div>
          </div>
        </div>


    <!-- Activities
    ================================================== -->

            <!-- Description ================================================== -->

        <div class="activities">
          <div class="col s12 m8 l8 white z-depth-1" style="border-radius: 5px;">
            <div class="banner-small image-responsive" style="background-image: linear-gradient(to right, rgba(224, 93, 73,0.6) 0%, rgba(153, 107, 130,0.6) 40%, rgba(87, 135, 198,0.6) 80%, rgba(62, 151, 232,0.6) 100%), url('http://www.jetblue.com/img/vacations/destination/San-Francisco-960-x-420.jpg'); padding: off">
              <div class="banner-content">
                <h2><%= @expedition.title %></h2>
              </div>
            </div>

            <!-- Description ================================================== -->
            <div class="expedition-description">
              <h5><%= @expedition.title %></h5>
              <p class="padded-extra-small">
              <%= @expedition.description %>
              </p>
            </div>
<% raise %>
            <!-- Map ================================================== -->

            <div id="map" style="width: auto; height: 200px; margin-right: -11px; margin-left: -11px; "></div>

            <!-- Day 1 ================================================== -->

            <div class="day" id="day1">
              <h5 class="day-title padded-extra-small">Day 1 arrival in San Francisco</h5>
              <hr>
              <!-- FLIGHT ================================================== -->
              <div class="row padded-extra-small">
              <div class="col s12 m12">
                  <div class="card white">
                    <div class="card-content grey-text">
                      <span class="time-info">11:45am arrival</span><br>
                      <span class="card-title"><i class="fa fa-plane" aria-hidden="true"></i> Flight 101</span>
                      <hr>
                      <div class="row">
                        <div class="col s6 m4 l4">
                          <h6><strong>Title</strong></h6>
                          <p>test</p>
                        </div>
                        <div class="col s6 m4 l4">
                          <h6><strong>Title</strong></h6>
                          <p>test</p>
                        </div>
                        <div class="col s6 m4 l4">
                          <h6><strong>Title</strong></h6>
                          <p>test</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s6 m4 l4">
                          <h6><strong>Title</strong></h6>
                          <p>test</p>
                        </div>
                        <div class="col s6 m4 l4">
                          <h6><strong>Title</strong></h6>
                          <p>test</p>
                        </div>
                        <div class="col s6 m4 l4">
                          <h6><strong>Title</strong></h6>
                          <p>test</p>
                        </div>
                      </div>
                    </div>
                    <div class="card-action">
                      <a href="#">This is a link</a>
                      <a href="#">This is a link</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END FLIGHT ================================================== -->
              <!-- HOTEL ================================================== -->
              <div class="row padded-extra-small">
              <div class="col s12 m12">
                  <div class="card white">
                    <div class="card-content grey-text">
                      <span class="time-info">5:00pm checkin</span><br>
                      <span class="card-title"><i class="fa fa-bed" aria-hidden="true"></i> Hotel California</span>
                      <hr>
                      <div class="row">
                        <div class="col s6 m4 l4">
                          <h6><strong>Title</strong></h6>
                          <p>test</p>
                        </div>
                        <div class="col s6 m4 l4">
                          <h6><strong>Title</strong></h6>
                          <p>test</p>
                        </div>
                        <div class="col s6 m4 l4">
                          <h6><strong>Title</strong></h6>
                          <p>test</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s12">
                          <h6><strong>Description</strong></h6>
                          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card-action">
                      <a class="activator">This is a link</a>
                    </div>
                    <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                          <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END Hotel ================================================== -->
              <!-- Activity ================================================== -->
              <div class="row padded-extra-small">
              <div class="col s12 m12">
                  <div class="card white">
                    <div class="card-content grey-text">
                      <span class="time-info">7:00pm Workshop</span><br>
                      <span class="card-title"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Workshop at the Tesla Factory</span>
                      <hr>
                      <div class="row">
                        <div class="col s6 m4 l4">
                          <h6><strong>Title</strong></h6>
                          <p>test</p>
                        </div>
                        <div class="col s6 m4 l4">
                          <h6><strong>Title</strong></h6>
                          <p>test</p>
                        </div>
                        <div class="col s6 m4 l4">
                          <h6><strong>Title</strong></h6>
                          <p>test</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s12">
                          <h6><strong>Description</strong></h6>
                          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card-action">
                      <a class="activator">Check all ressources</a>
                    </div>
                    <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                          <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Ressources ================================================== -->
              <hr>
              <h5>Ressources</h5>
              <div class="row">
                <div class="col s12">
                <a class="modal-trigger" href="#modal2">
                  <div class="card white darken-1 hoverable z-depth-0">
                    <div class="card-content grey-text">
                      <span class="card-title">Card Title</span>
                      <div class="row">
                        <div class="col s4">
                          <div class="card-image">
                            <img src="http://www.jetblue.com/img/vacations/destination/San-Francisco-960-x-420.jpg">
                          </div>
                        </div>
                        <div class="col s7">
                          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        </div>
                        <div class="col s1" style="margin-top: 15px">
                          <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                <a class="modal-trigger" href="#modal2">
                  <div class="card white darken-1 hoverable">
                    <div class="card-content grey-text">
                      <span class="card-title">Card Title</span>
                      <div class="row">
                        <div class="col s4">
                          <div class="card-image">
                            <img src="http://www.jetblue.com/img/vacations/destination/San-Francisco-960-x-420.jpg">
                          </div>
                        </div>
                        <div class="col s7">
                          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        </div>
                        <div class="col s1" style="margin-top: 15px">
                          <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                <a class="modal-trigger" href="#modal2">
                  <div class="card white darken-1 hoverable">
                    <div class="card-content grey-text">
                      <span class="card-title">Card Title</span>
                      <div class="row">
                        <div class="col s4">
                          <div class="card-image">
                            <img src="http://www.jetblue.com/img/vacations/destination/San-Francisco-960-x-420.jpg">
                          </div>
                        </div>
                        <div class="col s7">
                          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        </div>
                        <div class="col s1" style="margin-top: 15px">
                          <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
                </div>
              </div>
              <!-- End Ressources ================================================== -->
              <!-- End Activity ================================================== -->
            </div>

            <!-- END DAY1 ================================================== -->
            <!-- DAY 2 ================================================== -->

            <div class="day" id="day2">
              <h5 class="day-title padded-extra-small">Day 2 arrival Palo Alto</h5>
              <hr>
              <!-- FLIGHT ================================================== -->
              <div class="row padded-extra-small">
              <div class="col s12 m12">
                  <div class="card white">
                    <div class="card-content grey-text">
                      <span class="time-info">11:45am arrival</span><br>
                      <span class="card-title"><i class="fa fa-plane" aria-hidden="true"></i> Flight 101</span>
                      <hr>
                      <div class="row">
                        <div class="col s6 m4 l4">
                          <h6><strong>Title</strong></h6>
                          <p>test</p>
                        </div>
                        <div class="col s6 m4 l4">
                          <h6><strong>Title</strong></h6>
                          <p>test</p>
                        </div>
                        <div class="col s6 m4 l4">
                          <h6><strong>Title</strong></h6>
                          <p>test</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s6 m4 l4">
                          <h6><strong>Title</strong></h6>
                          <p>test</p>
                        </div>
                        <div class="col s6 m4 l4">
                          <h6><strong>Title</strong></h6>
                          <p>test</p>
                        </div>
                        <div class="col s6 m4 l4">
                          <h6><strong>Title</strong></h6>
                          <p>test</p>
                        </div>
                      </div>
                    </div>
                    <div class="card-action">
                      <a href="#">This is a link</a>
                      <a href="#">This is a link</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END FLIGHT ================================================== -->
              <!-- HOTEL ================================================== -->
              <div class="row padded-extra-small">
              <div class="col s12 m12">
                  <div class="card white">
                    <div class="card-content grey-text">
                      <span class="time-info">5:00pm checkin</span><br>
                      <span class="card-title"><i class="fa fa-bed" aria-hidden="true"></i> Hotel California</span>
                      <hr>
                      <div class="row">
                        <div class="col s6 m4 l4">
                          <h6><strong>Title</strong></h6>
                          <p>test</p>
                        </div>
                        <div class="col s6 m4 l4">
                          <h6><strong>Title</strong></h6>
                          <p>test</p>
                        </div>
                        <div class="col s6 m4 l4">
                          <h6><strong>Title</strong></h6>
                          <p>test</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s12">
                          <h6><strong>Description</strong></h6>
                          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card-action">
                      <a class="activator">This is a link</a>
                    </div>
                    <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                          <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END Hotel ================================================== -->
              <!-- Activity ================================================== -->
              <div class="row padded-extra-small">
              <div class="col s12 m12">
                  <div class="card white">
                    <div class="card-content grey-text">
                      <span class="time-info">7:00pm Workshop</span><br>
                      <span class="card-title"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Workshop at the Tesla Factory</span>
                      <hr>
                      <div class="row">
                        <div class="col s6 m4 l4">
                          <h6><strong>Title</strong></h6>
                          <p>test</p>
                        </div>
                        <div class="col s6 m4 l4">
                          <h6><strong>Title</strong></h6>
                          <p>test</p>
                        </div>
                        <div class="col s6 m4 l4">
                          <h6><strong>Title</strong></h6>
                          <p>test</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s12">
                          <h6><strong>Description</strong></h6>
                          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        </div>
                      </div>
                      <!-- Ressources ================================================== -->
                      <hr>
                      <h5>Ressources</h5>
                      <div class="row">
                        <div class="col s12">
                        <a class="modal-trigger" href="#modal2">
                          <div class="card white darken-1 z-depth-0 hoverable">
                            <div class="card-content grey-text">
                              <span class="card-title">Card Title</span>
                              <div class="row">
                                <div class="col s4">
                                  <div class="card-image materialboxed">
                                    <img src="http://www.jetblue.com/img/vacations/destination/San-Francisco-960-x-420.jpg">
                                  </div>
                                </div>
                                <div class="col s7">
                                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                                </div>
                                <div class="col s1" style="margin-top: 15px">
                                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s12">
                        <a class="modal-trigger" href="#modal2">
                          <div class="card white darken-1 hoverable">
                            <div class="card-content grey-text">
                              <span class="card-title">Card Title</span>
                              <div class="row">
                                <div class="col s4">
                                  <div class="card-image">
                                    <img src="http://www.jetblue.com/img/vacations/destination/San-Francisco-960-x-420.jpg">
                                  </div>
                                </div>
                                <div class="col s7">
                                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                </div>
                                <div class="col s1" style="margin-top: 15px">
                                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                        </div>
                      </div>
                      <!-- End Ressources ================================================== -->
                    <div class="card-action">
                      <a class="activator">Check all ressources</a>
                    </div>
                    <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                          <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Activity ================================================== -->
            </div>
            <!-- END DAY 2 ================================================== -->

          </div>
        </div>

    <!-- Participants
    ================================================== -->
        <div class="participants">
          <div class="col s12 m3 l3 white push-l1 z-depth-1" style="border-radius: 5px;">
            <ul class="collection with-header pinned" style="margin-right: -12px; margin-left: -12px; margin-top: 0px; margin-bottom: 0px;">
              <li class="collection-header"><h4>Participants</h4></li>
              <li class="collection-item"><div>Romain<a class="secondary-content modal-trigger" href="#modal1" ><i class="material-icons">email</i></a></div></li>
              <li class="collection-item"><div>Margaux<a class="secondary-content modal-trigger" href="#modal1" ><i class="material-icons">email</i></a></div></li>
              <li class="collection-item"><div>Nicolas<a href="#modal1" class="secondary-content modal-trigger"><i class="material-icons">email</i></a></div></li>
              <li class="collection-item"><div>Yoann<a href="#modal1" class="secondary-content modal-trigger"><i class="material-icons">email</i></a></div></li>
              <li class="collection-item"><div>Pierre<a href="#modal1" class="secondary-content modal-trigger"><i class="material-icons">email</i></a></div></li>
              <li class="collection-item"><div>Jack<a href="#modal1" class="secondary-content modal-trigger"><i class="material-icons">email</i></a></div></li>
              <li class="collection-item"><div>John<a href="#modal1" class="secondary-content modal-trigger"><i class="material-icons">email</i></a></div></li>
              <li class="collection-item"><div>Eric<a href="#modal1" class="secondary-content modal-trigger"><i class="material-icons">email</i></a></div></li>
            </ul>
          </div>
        </div>
      </div>
    </div>


      <!-- MODALS
    ================================================== -->


      <!-- Modal participants -->
      <div id="modal1" class="modal bottom-sheet">
        <div class="modal-content">
          <h4>modal header</h4>
          <div class="row">
            <div class="col s12">
              <div class="card white darken-1 hoverable">
                <div class="card-content grey-text">
                  <span class="card-title">Card Title</span>
                  <div class="row">
                    <div class="col s4">
                      <div class="card-image">
                        <img src="http://www.jetblue.com/img/vacations/destination/San-Francisco-960-x-420.jpg">
                      </div>
                    </div>
                    <div class="col s7">
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>
                    <div class="col s1" style="margin-top: 15px">
                      <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>

      <!-- Modal Ressources -->

      <div id="modal2" class="modal">
        <div class="modal-content">
          <h4>Ressource title</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        </div>
        <div class="modal-footer">
          <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>

    <!-- Scripts call google map
    ================================================== -->

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>






