<div class="container top-padded">
  <% @expeditions.each do |expedition| %>
    <div class="row">
      <div class="col s12">
        <div class="card small">
          <div class="card-image">
            <% if expedition.photo.url == nil %>
              <img src="http://placehold.it/500">
            <% else %>
              <%= image_tag @expedition.photo.url %>
            <% end %>
            <span class="card-title"><%= expedition.title %></span>
          </div>
          <div class="card-content">
            <p><%= expedition.description %></p>
          </div>
  <!--         <div class="card-action">
            <a href="#">This is a link</a>
          </div> -->
        </div>
      </div>
    </div>
  <% end %>
</div>
