<%= render 'shared/lateral_navbar' %>


<div class="navbar-fixed" style="margin-left: 60px;">
  <nav>
    <div class="nav-wrapper" style="margin-right: 60px; background-color: #00405D">
      <p class="brand-logo center">Dashboard</p>
      <ul class="right hide-on-med-and-down">
        <% if policy(Expedition.new).create? %>
        <li><%= link_to "Create Expedition", new_expedition_path, class: "btn waves-effect waves-light" %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>


<% if current_user.organiser %>
  <%= render 'pages/organizer_dashboard' %>
<% else %>
  <%= render 'pages/participant_dashboard' %>
<% end %>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
