<%= render 'shared/lateral_navbar' %>


<div class="nav-dashboard" style="margin-left: 60px;">
    <div class="nav-dashboard-content">
      <p class="dashbord-title">Your expeditions</p>
      <ul class="">
        <% if policy(Expedition.new).create? %>
        <li><%= link_to "+ New Expedition", new_expedition_path, class: "btn-dashboard" %></li>
        <% end %>
      </ul>
    </div>
</div>
<p style="color: white">.</p>

<% if current_user.organiser %>
  <%= render 'pages/organizer_dashboard' %>
<% else %>
  <%= render 'pages/participant_dashboard' %>
<% end %>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
