<%= render 'shared/lateral_navbar' %>


<div class="navbar-fixed" style="margin-left: 60px;">
  <nav>
    <div class="nav-wrapper" style="margin-right: 60px; background-color: #00405D">
      <p class="brand-logo center">Dashboard</p>
      <ul class="right hide-on-med-and-down">
        <% if policy(Expedition.new).create? %>
        <li><%= link_to "Create Expedition", new_expedition_path, class: "waves-effect waves-light btn" %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>


<!--   <div class="top-right-corner-btn">
    <div class="btn-floating">
      <= link_to edit_user_path(current_user) do %>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      < end %>
    </div>
    <div class="btn-floating">
      <= link_to destroy_user_session_path, method: :delete do %>
        <i class="fa fa-sign-out"></i>
      < end %>
    </div>
  </div> -->



<% if current_user.organiser %>
  <%= render 'pages/organizer_dashboard' %>
<% else %>
  <%= render 'pages/participant_dashboard' %>
<% end %>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
