<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Land.io: Free Landing Page HTML Template | Codrops</title>
    <meta name="description" content="A free HTML template and UI Kit built on Bootstrap" />
    <meta name="keywords" content="free html template, bootstrap, ui kit, sass" />
    <meta name="author" content="Peter Finlan and Taty Grassini Codrops" />
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="img/favicon/manifest.json">
    <link rel="shortcut icon" href="img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#663fb5">
    <meta name="msapplication-TileImage" content="img/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#663fb5">
    <link rel="stylesheet" href="css/landio.css">
  </head>

  <body>


    <!-- Hero Section
    ================================================== -->

    <div class="banner img-responsive" style="background-image: linear-gradient(158deg, rgba(243,143,56,0.6) 0%, rgba(242, 126, 80,0.6) 50%), url('http://i.imgur.com/M0qx9fN.jpg');">
      <div class="banner-content">
        <h1>Expedution, blissful innovation.</h1>
        <p>Craft your journey with Expedution</p>
        <a class="navbar-edu-button">LEARN MORE</a>
      </div>
    </div>

    <!-- Intro
    ================================================== -->

    <section class="section-intro text-center">
      <div class="container">
        <h2>powerful Learning expeditions management tool for organisers</h2>
        <div class="row">
          <div class="col-md-12">
            <div class="container text-center">
              <div class="col-md-12">
                <img src="http://i.imgur.com/964q4r6.png" alt="iPad mock" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Features
    ================================================== -->

    <section class="section-features padded">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="col-md-12">
              <div class="card-feature">
                <div class="card-image">
                  <img src="http://dummyimage.com/500x300/000/fff" alt="" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-12">
              <div class="card-feature">
                <div class="card-block">
                  <span class="icon-thunderbolt display-1"></span>
                  <h2>See how it works</h2>
                  <p class="card-text">Start to organise your own Learning Expeditions and save countless hours</p>
                  <a class="navbar-edu-button" id="button-features">LEARN MORE</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



    <!-- Extra features
    ================================================== -->

    <section class="section-extra-features padded">
      <div class="container">
        <div class="text-center">
          <h1>check this out</h1>
        </div>
        <div class="row">
          <div class="col s12 m4 l4">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="http://dummyimage.com/500x300/000/fff">
                <span class="card-title activator">Card Title</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
              <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
          </div>
          <div class="col s12 m4 l4">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="http://dummyimage.com/500x300/000/fff">
                <span class="card-title activator">Card Title</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
              <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
          </div>
          <div class="col s12 m4 l4">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="http://dummyimage.com/500x300/000/fff">
                <span class="card-title activator">Card Title</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action activator">
                <a href="#">This is a link</a>
              </div>
              <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Testimonials
    ================================================== -->
    <section class="section-testimonials padded">
     <div class="testimonials-container section-container text-center">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 testimonials section-description">
                  <h2><strong>What they say about us</strong></h2>
                  <div class="divider-1 wow fadeInUp"><span></span></div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-10 col-sm-offset-1 testimonial-list wow fadeInUp">
                  <div role="tabpanel">
                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div role="tabpanel" class="tab-pane fade in active" id="tab1">
                        <div class="testimonial-image">
                          <%= image_tag("face1.jpg", :alt => "face1") %>
                        </div>
                        <div class="testimonial-text">
                                  <p>
                                    "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                                    Lorem ipsum dolor sit amet, consectetur..."<br>
                                    <a href="#">Lorem Ipsum, dolor.co.uk</a>
                                  </p>
                                </div>
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="tab2">
                        <div class="testimonial-image">
                          <%= image_tag("face2.jpg", :alt => "face2") %>
                        </div>
                        <div class="testimonial-text">
                                  <p>
                                    "Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
                                    ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                                    lobortis nisl ut aliquip ex ea commodo consequat..."<br>
                                    <a href="#">Minim Veniam, nostrud.com</a>
                                  </p>
                                </div>
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="tab3">
                        <div class="testimonial-image">
                          <img src="assets/img/testimonials/3.jpg" alt="" data-at2x="assets/img/testimonials/3.jpg">
                        </div>
                        <div class="testimonial-text">
                                  <p>
                                    "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                                    Lorem ipsum dolor sit amet, consectetur..."<br>
                                    <a href="#">Lorem Ipsum, dolor.co.uk</a>
                                  </p>
                                </div>
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="tab4">
                        <div class="testimonial-image">
                          <%= image_tag("face3.jpg", :alt => "face3") %>
                        </div>
                        <div class="testimonial-text">
                                  <p>
                                    "Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
                                    ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                                    lobortis nisl ut aliquip ex ea commodo consequat..."<br>
                                    <a href="#">Minim Veniam, nostrud.com</a>
                                  </p>
                                </div>
                      </div>
                    </div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                      <li role="presentation" class="active">
                        <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab"></a>
                      </li>
                      <li role="presentation">
                        <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab"></a>
                      </li>
                      <li role="presentation">
                        <a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab"></a>
                      </li>
                      <li role="presentation">
                        <a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab"></a>
                      </li>
                    </ul>
                  </div>
                </div>
            </div>
        </div>
     </div>
    </section>

    <!-- Text Content
    ================================================== -->

    <section class="section-text padded">
      <div class="container">
        <h3 class="text-xs-center">Make your mark on the product industry</h3>
        <div class="row p-y-3">
          <div class="col-md-5">
            <p class="wp wp-7">A posuere donec senectus suspendisse bibendum magna ridiculus a justo orci parturient suspendisse ad rhoncus cursus ut parturient viverra elit aliquam ultrices est sem. Tellus nam ad fermentum ac enim est duis facilisis congue a lacus adipiscing consequat risus consectetur scelerisque integer suspendisse a mus integer elit massa ut.</p>
          </div>
          <div class="col-md-5 col-md-offset-2 separator-x">
            <p class="wp wp-8">A posuere donec senectus suspendisse bibendum magna ridiculus a justo orci parturient suspendisse ad rhoncus cursus ut parturient viverra elit aliquam ultrices est sem. Tellus nam ad fermentum ac enim est duis facilisis congue a lacus adipiscing consequat risus consectetur scelerisque integer suspendisse a mus integer elit massa ut.</p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
