<video autoplay  poster="http://i.imgur.com/Fhv7N23.png" id="bgvid" loop>
</video>
<%= render 'shared/lateral_navbar' %>

  <!-- banner card
  ================================================== -->
  <div class="banner-medium" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://www.europeanceo.com/wp-content/uploads/2014/01/Rosa.jpg');">
    <div class="banner-content">
      <h1>#MEDTECH</h1>
      <p>Discover all the companies leading the medtech industry 💊</p>
    </div>
  </div>
  <!-- end banner
  ================================================== -->


  <!-- Page container
    ================================================== -->
  <div class="page-container">

    <!-- Row 1
    ================================================== -->
    <div class="row">

    <!-- 23 and me
    ================================================== -->




      <div class="col s12 m6 l6">
        <div class="row">
          <div class="col s12 m12">
            <div class="card white darken-1">
              <div class="card-content grey-text">
                <div class="row">
                  <div class="col s12">
                    <div class="activity-banner">
                      <div class="card small-banner z-depth-0" id="and-me">
                        <a href="" class="btn btn1 red"><i class="fa fa-bookmark" aria-hidden="true"></i></a>
                      </div>
                    </div>
                    <!-- description ================================================== -->
                    <div class="description">
                      <h5>Description</h5>
                      <div class="row">
                        <div class="col s12">
                          <p>23andMe is a privately held personal genomics and biotechnology company based in Mountain View, California. The company is named for the 23 pairs of chromosomes in a normal human cell.</p>
                        <hr>
                        </div>
                      </div>
                    </div>
                    <!-- location ================================================== -->
                    <div class="location">
                      <h5>Location</h5>
                      <div class="row">
                        <div class="col s12">
                          <p>Mountain View, California, United States</p>
                        <hr>
                        </div>
                      </div>
                    </div>
                    <!-- resources ================================================== -->
                    <div class="resources">
                      <h5>Resources</h5>
                      <div class="col s12 grey-text text-center white title">
                        <div class="row">
                          <div class="col s12 m12 l12">
                            <div class="row">
                              <div class="col s12">
                                <div class="card z-depth-0">
                                  <iframe src="//www.slideshare.net/slideshow/embed_code/key/jsoip0Ab3Uumxk" width="auto" height="auto" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong></div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col s12 m12 l12">
                            <div class="row">
                              <div class="col s12">
                                <div class="card z-depth-0">
                                  <iframe src="//www.slideshare.net/slideshow/embed_code/key/1qVUxWbb1RGxWz" width="auto" height="auto" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col s12 m12 l12">
                            <div class="row">
                              <div class="col s12">
                                <div class="card z-depth-0">
                                  <span class="card-title-ressource" id="video-title">  </span>
                                  <div class="card-content white-text">
                                    <iframe width="220px" height="auto" src="https://www.youtube.com/embed/iSv63RaZeuo?rel=0" frameborder="0" allowfullscreen></iframe>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col s12 m12 l12">
                            <div class="row">
                              <div class="col s12">
                                <div class="card z-depth-0">
                                  <span class="card-title-ressource" id="video-title"> </span>
                                  <div class="card-content white-text">
                                    <iframe width="220px" height="auto" src="https://www.youtube.com/embed/Qa-sweE185Y?rel=0" frameborder="0" allowfullscreen></iframe>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <!-- End 23 and me
    ================================================== -->


    <!-- Google x
    ================================================== -->
      <div class="col s12 m6 l6">
        <div class="row">
          <div class="col s12 m12">
            <div class="card white darken-1">
              <div class="card-content grey-text">
                <div class="row">
                  <div class="col s12">
                    <div class="activity-banner">
                      <div class="card small-banner z-depth-0" id="google">
                        <a href="" class="btn btn2 red"><i class="fa fa-bookmark" aria-hidden="true"></i></a>
                      </div>
                    </div>
                    <!-- description ================================================== -->
                    <div class="description">
                      <h5>Description</h5>
                      <div class="row">
                        <div class="col s12">
                          <p>X, previously Google X, is a semi-secret research and development facility created by Google and operated as a subsidiary of Alphabet Inc. Verily, a former Google X subsidiary, also became a direct independent subsidiary of Alphabet at this time.</p>
                        <hr>
                        </div>
                      </div>
                    </div>
                    <!-- location ================================================== -->
                    <div class="location">
                      <h5>Location</h5>
                      <div class="row">
                        <div class="col s12">
                          <p>Mountain View, California.</p>
                        <hr>
                        </div>
                      </div>
                    </div>
                      <!-- resources ================================================== -->
                      <div class="resources">
                        <h5>Resources</h5>
                      <div class="col s12 grey-text text-center white title">
                        <div class="row">
                          <div class="col s12 m12 l12">
                            <div class="row">
                              <div class="col s12">
                                <iframe src="//www.slideshare.net/slideshow/embed_code/key/zKcMfN9VlvIuwJ" width="auto" height="auto" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"></div>
                              </div>
                            </div>
                          </div>
                          <div class="col s12 m12 l12">
                            <div class="row">
                              <div class="col s12">
                                <div class="card z-depth-0">
                                  <iframe src="//www.slideshare.net/slideshow/embed_code/key/IK7B2hSDueiP0S" width="auto" height="auto" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col s12 m12 l12">
                            <div class="row">
                              <div class="col s12">
                                <div class="card z-depth-0">
                                  <span class="card-title-ressource" id="video-title"> </span>
                                  <div class="card-content white-text">
                                    <iframe src="https://embed-ssl.ted.com/talks/burt_rutan_sees_the_future_of_space.html" width="220" height="auto" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col s12 m12 l12">
                            <div class="row">
                              <div class="col s12">
                                <div class="card z-depth-0">
                                  <span class="card-title-ressource" id="video-title"> </span>
                                  <div class="card-content white-text">
                                    <iframe width="220" height="auto" src="https://www.youtube.com/embed/fOETScsJWpY" frameborder="0" allowfullscreen></iframe>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <!-- End 23 and me
    ================================================== -->

    <!-- End Row 1
    ================================================== -->
    </div>

    <!-- Row 1
    ================================================== -->
    <div class="row">

    <!-- Jawbone
    ================================================== -->




      <div class="col s12 m6 l6">
        <div class="row">
          <div class="col s12 m12">
            <div class="card white darken-1">
              <div class="card-content grey-text">
                <div class="row">
                  <div class="col s12">
                    <div class="activity-banner">
                      <div class="card small-banner z-depth-0" id="jawbone">
                        <a href="" class="btn btn3 red"><i class="fa fa-bookmark" aria-hidden="true"></i></a>
                      </div>
                    </div>
                    <!-- description ================================================== -->
                    <div class="description">
                      <h5>Description</h5>
                      <div class="row">
                        <div class="col s12">
                          <p>Jawbone is an American privately held consumer technology and wearable products company headquartered in San Francisco, California.</p>
                        <hr>
                        </div>
                      </div>
                    </div>
                    <!-- location ================================================== -->
                    <div class="location">
                      <h5>Location</h5>
                      <div class="row">
                        <div class="col s12">
                          <p>San Francisco, California, United States</p>
                        <hr>
                        </div>
                      </div>
                    </div>
                    <!-- resources ================================================== -->
                    <div class="resources">
                      <h5>Resources</h5>
                      <div class="col s12 grey-text text-center white title">
                        <div class="row">
                          <div class="col s12 m12 l12">
                            <div class="row">
                              <div class="col s12">
                                <div class="card z-depth-0">
                                  <iframe src="//www.slideshare.net/slideshow/embed_code/key/orlp0x4dY84MKm" width="auto" height="auto" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col s12 m12 l12">
                            <div class="row">
                              <div class="col s12">
                                <div class="card z-depth-0">
                                  <span class="card-title-ressource" id="video-title">  </span>
                                  <div class="card-content white-text">
                                    <iframe width="220" height="auto" src="https://www.youtube.com/embed/mRVrgQrkWWQ?rel=0" frameborder="0" allowfullscreen></iframe>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <!-- End Jawbone
    ================================================== -->


    <!-- fitbit
    ================================================== -->
      <div class="col s12 m6 l6">
        <div class="row">
          <div class="col s12 m12">
            <div class="card white darken-1">
              <div class="card-content grey-text">
                <div class="row">
                  <div class="col s12">
                    <div class="activity-banner">
                      <div class="card small-banner z-depth-0" id="fitbit">
                        <a href="" class="btn btn4 red"><i class="fa fa-bookmark" aria-hidden="true"></i></a>
                      </div>
                    </div>
                    <!-- description ================================================== -->
                    <div class="description">
                      <h5>Description</h5>
                      <div class="row">
                        <div class="col s12">
                          <p>Fitbit Inc. is an American company headquartered in San Francisco, California. Founded and managed by James Park and Eric Friedman, the company is known for its products of the same name, which are ...</p>
                        <hr>
                        </div>
                      </div>
                    </div>
                    <!-- location ================================================== -->
                    <div class="location">
                      <h5>Location</h5>
                      <div class="row">
                        <div class="col s12">
                          <p>San Francisco, California, USA.</p>
                        <hr>
                        </div>
                      </div>
                    </div>
                      <!-- resources ================================================== -->
                      <div class="resources">
                        <h5>Resources</h5>
                      <div class="col s12 grey-text text-center white title">
                        <div class="row">
                          <div class="col s12 m12 l12">
                            <div class="row">
                              <div class="col s12">
                                <iframe src="//www.slideshare.net/slideshow/embed_code/key/3O0xIFqkrdspWC" width="auto" height="auto" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"></div>
                              </div>
                            </div>
                          </div>
                          <div class="col s12 m12 l12">
                            <div class="row">
                              <div class="col s12">
                                <div class="card z-depth-0">
                                  <span class="card-title-ressource" id="video-title"> </span>
                                  <div class="card-content white-text">
                                    <iframe width="220" height="auto" src="https://www.youtube.com/embed/C_13goZBC9c" frameborder="0" allowfullscreen></iframe>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <!-- End fitbit
    ================================================== -->

    <!-- End Row 2
    ================================================== -->
    </div>





  <!-- End Page Container
    ================================================== -->
  </div>

  <%= content_for :after_js do %>
<script>
    $('.btn1').click(function(){
      event.preventDefault();
      $(".btn1").addClass("grey");
      $(".btn1").removeClass("red", "active");

    })

    $('.btn2').click(function(){
      event.preventDefault();
      $(".btn2").addClass("grey");
      $(".btn2").removeClass("red", "active");

    })

    $('.btn3').click(function(){
      event.preventDefault();
      $(".btn3").addClass("grey");
      $(".btn3").removeClass("red", "active");

    })

    $('.btn4').click(function(){
      event.preventDefault();
      $(".btn4").addClass("grey");
      $(".btn4").removeClass("red", "active");

    })
</script>
    <% end %>

