<video autoplay  poster="http://i.imgur.com/Fhv7N23.png" id="bgvid" loop>
</video>
<%= render 'shared/lateral_navbar' %>
<div class="page-container">
  <div class="container">
    <div class="title text-center padded-small">
      <h4>The Ideas Vault</h4>
      <p>Discover hundreds of companies and associated ressources for your upcoming trips</p>
    </div>
    <!-- Row 1
    ================================================== -->
    <div class="row">
      <div class="col s12 m8 l8">
        <div class="row">
          <div class="col s12">
            <div class="card-sourcing earlybird" id="fintech">
              <div class="card-content white-text">
                <span class="theme-title">#FINTECH</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= link_to medtech_path do %>
      <div class="col s12 m4 l4">
        <div class="row">
          <div class="col s12">
            <div class="card-sourcing earlybird" id="medtech">
              <div class="card-content white-text">
                <span class="theme-title">#MEDTECH</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <!-- end Row 1
    ================================================== -->
    <!-- Row 2
    ================================================== -->
    <div class="row">
      <div class="col s12 m4 l4">
        <div class="row">
          <div class="col s12">
            <div class="card-sourcing earlybird" id="ai">
              <div class="card-content white-text">
                <span class="theme-title">#AI</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="row">
          <div class="col s12">
            <div class="card-sourcing earlybird" id="transportation">
              <div class="card-content white-text">
                <span class="theme-title">#TRANSPORTATION</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= link_to space_path do %>
      <div class="col s12 m4 l4">
        <div class="row">
          <div class="col s12">
            <div class="card-sourcing earlybird" id="space">
              <div class="card-content white-text">
                <span class="theme-title">#SPACE</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <!-- end Row 2
    ================================================== -->
    <!-- Row 3
    ================================================== -->
    <div class="row">
      <div class="col s12 m8 l8">
        <div class="row">
          <div class="col s12">
            <div class="card-sourcing earlybird" id="cs">
              <div class="card-content white-text">
                <span class="theme-title">#COMPUTER_SCIENCE</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="row">
          <div class="col s12">
            <div class="card-sourcing earlybird" id="gig">
              <div class="card-content white-text">
                <span class="theme-title">#GIG_ECONOMY</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end Row 3
    ================================================== -->
    <!-- Row 4
    ================================================== -->
    <div class="row">
      <div class="col s12 m4 l4">
        <div class="row">
          <div class="col s12">
            <div class="card-sourcing earlybird" id="social">
              <div class="card-content white-text">
                <span class="theme-title">#SOCIAL</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="row">
          <div class="col s12">
            <div class="card-sourcing earlybird" id="legal">
              <div class="card-content white-text">
                <span class="theme-title">#LEGAL</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="row">
          <div class="col s12">
            <div class="card-sourcing earlybird" id="manufacturing">
              <div class="card-content white-text">
                <span class="theme-title">#MANUFACTURING</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end Row 4
    ================================================== -->
  </div>
</div>

