<video autoplay  poster="http://i.imgur.com/Fhv7N23.png" id="bgvid" loop>
</video>
<%= render 'shared/lateral_navbar' %>

  <!-- banner card
  ================================================== -->
  <div class="banner-medium" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://spaceflightnow.com/wp-content/uploads/2015/03/B_EGEjPVIAA1AMC.jpg-large.jpeg');">
    <div class="banner-content">
      <h1>#SPACE</h1>
      <p>All the companies that will take you to the stars 🚀</p>
    </div>
  </div>
  <!-- end banner
  ================================================== -->


  <!-- Page container
    ================================================== -->
  <div class="page-container">

    <!-- Row 1
    ================================================== -->
    <div class="row">

    <!-- SpaceX
    ================================================== -->




      <div class="col s12 m6 l6">
        <div class="row">
          <div class="col s12 m12">
            <div class="card white darken-1">
              <div class="card-content grey-text">
                <div class="row">
                  <div class="col s12">
                    <div class="activity-banner">
                      <div class="card small-banner z-depth-0" id="spacex">
                        <a href="" class="btn red"><i class="fa fa-bookmark" aria-hidden="true"></i></a>
                      </div>
                    </div>
                    <!-- description ================================================== -->
                    <div class="description">
                      <h5>Description</h5>
                      <div class="row">
                        <div class="col s12">
                          <p>this is a test</p>
                        <hr>
                        </div>
                      </div>
                    </div>
                    <!-- location ================================================== -->
                    <div class="location">
                      <h5>Location</h5>
                      <div class="row">
                        <div class="col s12">
                          <p>this is a test</p>
                        <hr>
                        </div>
                      </div>
                    </div>
                    <!-- resources ================================================== -->
                    <div class="resources">
                      <h5>Resources</h5>
                      <div class="col s12 grey-text text-center white title">
                        <div class="row">
                          <div class="col s12 m12 l12">
                            <div class="row">
                              <div class="col s12">
                                <div class="card z-depth-0">
                                  <iframe src="//www.slideshare.net/slideshow/embed_code/key/jsoip0Ab3Uumxk" width="auto" height="auto" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong></div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col s12 m12 l12">
                            <div class="row">
                              <div class="col s12">
                                <div class="card z-depth-0">
                                  <iframe src="//www.slideshare.net/slideshow/embed_code/key/1qVUxWbb1RGxWz" width="auto" height="auto" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col s12 m12 l12">
                            <div class="row">
                              <div class="col s12">
                                <div class="card z-depth-0">
                                  <span class="card-title-ressource" id="video-title">  </span>
                                  <div class="card-content white-text">
                                    <iframe width="220px" height="auto" src="https://www.youtube.com/embed/iSv63RaZeuo?rel=0" frameborder="0" allowfullscreen></iframe>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col s12 m12 l12">
                            <div class="row">
                              <div class="col s12">
                                <div class="card z-depth-0">
                                  <span class="card-title-ressource" id="video-title"> </span>
                                  <div class="card-content white-text">
                                    <iframe width="220px" height="auto" src="https://www.youtube.com/embed/Qa-sweE185Y?rel=0" frameborder="0" allowfullscreen></iframe>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <!-- End SpaceX
    ================================================== -->


    <!-- Nasa
    ================================================== -->
      <div class="col s12 m6 l6">
        <div class="row">
          <div class="col s12 m12">
            <div class="card white darken-1">
              <div class="card-content grey-text">
                <div class="row">
                  <div class="col s12">
                    <div class="activity-banner">
                      <div class="card small-banner z-depth-0" id="nasa">
                        <a href="" class="btn red"><i class="fa fa-bookmark" aria-hidden="true"></i></a>
                      </div>
                    </div>
                    <!-- description ================================================== -->
                    <div class="description">
                      <h5>Description</h5>
                      <div class="row">
                        <div class="col s12">
                          <p>this is a test</p>
                        <hr>
                        </div>
                      </div>
                    </div>
                    <!-- location ================================================== -->
                    <div class="location">
                      <h5>Location</h5>
                      <div class="row">
                        <div class="col s12">
                          <p>this is a test</p>
                        <hr>
                        </div>
                      </div>
                    </div>
                      <!-- resources ================================================== -->
                      <div class="resources">
                        <h5>Resources</h5>
                      <div class="col s12 grey-text text-center white title">
                        <div class="row">
                          <div class="col s12 m12 l12">
                            <div class="row">
                              <div class="col s12">
                                <iframe src="//www.slideshare.net/slideshow/embed_code/key/zKcMfN9VlvIuwJ" width="auto" height="auto" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"></div>
                              </div>
                            </div>
                          </div>
                          <div class="col s12 m12 l12">
                            <div class="row">
                              <div class="col s12">
                                <div class="card z-depth-0">
                                  <iframe src="//www.slideshare.net/slideshow/embed_code/key/IK7B2hSDueiP0S" width="auto" height="auto" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col s12 m12 l12">
                            <div class="row">
                              <div class="col s12">
                                <div class="card z-depth-0">
                                  <span class="card-title-ressource" id="video-title"> </span>
                                  <div class="card-content white-text">
                                    <iframe src="https://embed-ssl.ted.com/talks/burt_rutan_sees_the_future_of_space.html" width="220" height="auto" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col s12 m12 l12">
                            <div class="row">
                              <div class="col s12">
                                <div class="card z-depth-0">
                                  <span class="card-title-ressource" id="video-title"> </span>
                                  <div class="card-content white-text">
                                    <iframe width="220" height="auto" src="https://www.youtube.com/embed/fOETScsJWpY" frameborder="0" allowfullscreen></iframe>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <!-- End Nasa
    ================================================== -->

    <!-- End Row 1
    ================================================== -->
    </div>


  <!-- End Page Container
    ================================================== -->
  </div>
