<video autoplay  poster="http://i.imgur.com/Fhv7N23.png" id="bgvid" loop>
</video>
<%= render 'shared/lateral_navbar' %>
<div class="page-container">
  <!-- banner
  ================================================== -->
  <div class="row white z-depth-1">
    <div class="col s12 m12 l12">
      <div class="row">
        <div class="col s12">
          <div class="card banner" id="space">
            <div class="card-content white-text">
              <span class="card-title"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 grey-text text-center white title">
      <h1>#SPACE</h1>
    </div>
  </div>
  <!-- end banner
  ================================================== -->

  <div class="row">
    <div class="col s12 m3 l3">
      <div class="row">
        <div class="col s12">
          <div class="card" id="social">
            <div class="card-content white-text">
              <span class="card-title">#SOCIAL</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m3 l3">
      <div class="row">
        <div class="col s12">
          <div class="card" id="legal">
            <div class="card-content white-text">
              <span class="card-title">#LEGAL</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m3 l3">
      <div class="row">
        <div class="col s12">
          <div class="card" id="manufacturing">
            <div class="card-content white-text">
              <span class="card-title">#MANUFACTURING</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m3 l3">
      <div class="row">
        <div class="col s12">
          <div class="card" id="manufacturing">
            <div class="card-content white-text">
              <span class="card-title">#MANUFACTURING</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
