
.lateral-navbar {
  position: fixed;
  background-color: #45BBFF;
  width: 60px;
  top: 0px;
  bottom: 0px;
  left: 0px;
}

.nav-sections {
  width: 60px;
}

.nav-li {
  position: relative;
  list-style-type: none;
  width: 60px;
  height: 60px;
}

.nav-li:hover {
  background-color: #82d3ff;
}

.nav-link {
  text-decoration: none;
  -webkit-filter: invert(100%);
}
