<%# @expedition.days.each do |day| %>
  <div class="day-box">
    <div class="day-box-text">
      <p class="day-number">Day 1</p>
      <p class="day-title">Day title <%# day.title %> </p>
    </div>
    <div class="day-box-chevron">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </div>
  </div>
<%# end %>
