<div class="collapsible-body padded-extra-small">
  <div class="container" id="feedback-form">
    <%= simple_form_for([activity, @feedback], remote: true) do |f| %>
      <%= f.input :content, placeholder: "Your thoughts" %>
      <%= f.input :rating, placeholder: "Your note", collection: 1..5 %>
      <%= f.submit "Post", class: "btn btn-success" %>
    <% end %>
  </div>
</div>

