<div class="collapsible-body padded-extra-small font-style1" id="feedbacks">
  <% if activity.feedbacks.present? %>
    <% activity.feedbacks.reverse_each do |feedback| %>
      <div class="font-style1">
        <p>"<%= feedback.content %> <%= feedback.rating %> / 5 "</p>
      </div>
      <div class="signature">
        <p>By <%= feedback.user.first_name %> <%= feedback.user.last_name %></p>
      </div>
      <% if feedback.user == current_user %>
        <%#= link_to "Delete review", review_path(review), method: :delete, class: "btn btn-danger" %>
      <% end %>
    <% end %>
  <% else %>
      <p>No Feedbacks Yet</p>
  <% end %>
</div>
